body {
  font-family: cursive;
  padding: 25px;
  background: linear-gradient(to bottom, rgb(79, 79, 249), rgb(94, 249, 249), rgb(255, 203, 106));
  height: 100%;
}

.container {
  max-width: 700px;
  margin: auto;
  background: rgba(255, 255, 255, 0.947);
  padding: 50px;
  border-radius: 8px;
  overflow: scroll;
}
h1 {
  font-weight: 1800;
  text-align: center;
  color: #9933c1;
}
h2 {
  font-weight: 900;
  text-align: center;
  color: rgb(0, 0, 255);
}
h2 span {
  color: rgb(255, 165, 0);
}
.load {
  font-weight: 50000;
  font-size: xx-large;
  text-align: center;
}
.search-group input {
  content: icon;
  padding: 15px;
  margin-top: 30px;
  width: 65%;
  text-align: center;
  border: 1.5px solid black;  
  border-radius: 15px;
}
button {
  padding: 13px 18px;
  background-color: #007bff;
  color: white;
  border-radius: 13px;
  margin-left: 8px;
  font-weight: 700;
  cursor: pointer;
}
button:hover {  
  background-color: #4175b7;
  color: #ffffff;
  font-weight: 700;
}
select {
  text-align: center;
  background-color:rgba(231, 249, 246, 0.562);
  margin-top: 8px;  
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: 700;
  width: 35%;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}
th {
  border: 2.5px solid #000000;
  padding: 10px;
  text-align: center;
  background-color: #673bd4;
  color: #ffffff;
}
td {
  border: 1px solid #ccc;
  padding: 4px;
  text-align: center;
}
/* .form-group input {
  padding: 10px;
  margin: 5px;
  width: 17%;
} */

/* .btn-tambah,
btn-edit {
  background-color: rgb(255, 197, 80);
} */
/* .btn-hapus {
  background-color: crimson;
} */
/* .modal {
  display: none;
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center; align-items: center;
  text-align: center;
}
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
} */
