body {
  font-family: cursive;
  background: #351d70;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin: auto;
  background: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 8px;
  overflow: scroll;
}

h1,
h2 {
  font-weight: 900;
  text-align: center;
  color: #9933c1;
}

.form-group input {
  padding: 10px;
  margin: 5px;
  width: 17%;
}
.search-group input {
  content: icon;
  padding: 13px;
  margin: 5px;
  width: 20%;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4175b7;
  color: #ffffff;
  font-weight: 400  ;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th {
  border: 2.5px solid #000000;
  padding: 10px;
  text-align: center;
}
td {
  border: 1px solid #ccc;
  padding: 4px;
  text-align: center;
}

.btn-tambah,
btn-edit {
  background-color: rgb(255, 197, 80);
}

.btn-hapus {
  background-color: crimson;
}
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center; align-items: center;
  text-align: center;
}
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}
